.title {
  width: 100%;
  color: rebeccapurple;
  padding: 5px 33px 10px 23px;
  margin: 10px;
  float: left;
  height: auto;
  border-radius: 5px;
	background-color: #f2f2f2;
}

.header {
  width: 100%;
  height: auto;
  margin: 10px;
  padding-bottom: 30px;
  font-size: 16px;
  float: left;
  color: rebeccapurple;
  border-radius: 5px;
	background-color: #f2f2f2;
}